@if (selectedExample() === 'sortable') {
  <div ngxDropList class="example-list" (drop)="drop($event, items)">
    @for (item of items; track $index) {
      <div class="card" ngxDraggable>{{ item.title }}</div>
    }
  </div>
} @else if (selectedExample() === 'mixed') {
  <div ngxDropList class="example-list" (drop)="drop($event, items)" id="el_baseList">
    <!-- <span class="placeholder" *ngxPlaceholder></span> -->

    @for (item of items; track $index) {
      @switch (item.tag) {
        @case ('div') {
          <div class="box" ngxDraggable [id]="item.title">{{ item.title }}</div>
        }
        @case ('input') {
          <input type="email" ngxDraggable [value]="item.title" [id]="item.title" />
        }
        @case ('button') {
          <button ngxDraggable [id]="item.title">{{ item.title }}</button>
        }
      }
    }
  </div>
}
