<app-example-showcase title="Side Menu" [files]="sourceFiles">
  <p class="hint">
    از لبه‌ی چپ یا راست صفحه بکشید، یا از دکمه‌های زیر استفاده کنید. باز شدن با افکت پرده‌ای
    چندلایه‌ست.
  </p>
  <div class="btn-row">
    <button type="button" (click)="startOpen.set(true)">باز کردن از start</button>
    <button type="button" (click)="endOpen.set(true)">باز کردن از end</button>
  </div>

  <ngx-side-menu [(open)]="startOpen" side="start">
    <div class="menu-content">
      <h4>منوی من</h4>
      <ul>
        <li>خانه</li>
        <li>پروفایل</li>
        <li>تنظیمات</li>
        <li>خروج</li>
      </ul>
    </div>
  </ngx-side-menu>

  <ngx-side-menu [(open)]="endOpen" side="end">
    <div class="menu-content">
      <h4>اعلان‌ها</h4>
      <ul>
        <li>پیام جدید از علی</li>
        <li>سفارش شما ارسال شد</li>
        <li>به‌روزرسانی موجود است</li>
      </ul>
    </div>
  </ngx-side-menu>
</app-example-showcase>
