<div ngxDialogHeader>this is a header</div>
<ngx-dialog-body>this is body

    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
    <p>rkejh ekrjth ekrjt hekrjt ert ert ert ert ert er</p>
</ngx-dialog-body>
<ngx-dialog-footer>
  <button class="btn btn-primary" (click)="openDialog()">open this as new dialog</button>
</ngx-dialog-footer>
