<div class="container">
  <form [formGroup]="form">
    <div class="input-group">
      <input
        class="form-control"
        formControlName="date"
        ngxInputDatePicker
        [displayFormat]="'EEEE - d MMMM, yyyy'"
        [min]="minDate"
        [max]="maxDate"
        [locale]="locale"
        [openOnCLick]="false"
        [config]="config"
        #dpInput="ngxInputDatePicker" />
      <button (click)="dpInput.toggle()" class="input-group-text pointer">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
    @if (form.get('date')?.hasError('invalid')) {
      <div class="text-danger">invalid date!</div>
    }
    @if (form.get('date')?.hasError('required')) {
      <div class="text-danger">required date!</div>
    }

    <p>{{ form.get('date')?.value | json }}</p>

    <pre>invalid={{ form.get('date')?.invalid }}=>{{ form.get('date')?.errors | json }}</pre>
  </form>

  <!-- ------------------------ configurations ----------------------------------- -->
  <div class="row">
    <select name="locale" [(ngModel)]="locale">
      @for (item of availableLocals; track $index) {
        <option [value]="item">{{item}}</option>
      }
    </select>
  </div>
  <div class="d-flex flex-wrap align-items-center">
    <div class="mt-2">Minimum and maximum date:</div>
    <div class="mx-2">
      <label>Min</label>
      <input
        type="text"
        class="form-control"
        ngxInputDatePicker
        [locale]="locale"
        displayFormat="yyyy-MM-dd"
        [(ngModel)]="minDate"
        [max]="maxDate" />
    </div>
    <div class="mx-2">
      <label>Max</label>
      <input
        type="text"
        class="form-control"
        ngxInputDatePicker
        [locale]="locale"
        displayFormat="yyyy-MM-dd"
        [(ngModel)]="maxDate"
        [min]="minDate" />
    </div>
  </div>

  <div class="">
    <p>
      <label>
        <input type="checkbox" name="today" [(ngModel)]="config.todayButton" />
        Show today button
      </label>
    </p>
    @if (config.todayButton) {
      <p>
        <label>Today button text:</label>
        <input type="text" class="form-control" [(ngModel)]="config.todayButtonText" />
      </p>
    }
    <p>
      <label>
        <input type="checkbox" name="clearbtn" [(ngModel)]="config.clearButton" />
        Show clear button
      </label>
    </p>
    @if (config.clearButton) {
      <p>
        <label>Clear button text:</label>
        <input type="text" class="form-control" [(ngModel)]="config.clearButtonText" />
      </p>
    }
  </div>
</div>
<ngx-datepicker [config]="config" [locale]="locale"></ngx-datepicker>

<pre>{{ config | json }}</pre>
