<div ngxDropList class="example-list" (drop)="drop($event, items)" id="el_baseList">
  <!-- <span class="placeholder" *ngxPlaceholder></span> -->

  @for (item of items; track $index) {
    @switch (item.tag) {
      @case ('div') {
        <div class="box" ngxDraggable [id]="item.title">{{ item.title }}</div>
      }
      @case ('input') {
        <input type="email" ngxDraggable [value]="item.title" [id]="item.title" />
      }
      @case ('button') {
        <button ngxDraggable [id]="item.title">{{ item.title }}</button>
      }
    }
  }
</div>
<!-- <pre>{{ items | json }}</pre> -->

<div class="ngxpointer"></div>

<!-- <table>
  <tr>
    <td ngxDropList>
      <button ngxDraggable id="rrr">tttttttttttttttt</button>
    </td>
    <td ngxDropList></td>
    <td ngxDropList></td>
  </tr>
  <tr>
    <td ngxDropList></td>
    <td ngxDropList></td>
    <td ngxDropList></td>
  </tr>
  <tr>
    <td ngxDropList></td>
    <td ngxDropList></td>
    <td ngxDropList></td>
  </tr>
</table> -->
